<div class="container">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="club-logo" src={{logos[teamStats.name]}} 
                onerror="this.src='./../assets/images/logos/default.png'">
                <h5 class="card-title">
                    {{ teamStats.rank }}
                </h5>
                <h5 class="card-title">
                    {{ teamStats.name }}
                </h5>
                <h5 class="card-title">
                    {{ teamStats.played }}
                </h5>
                <h5 class="card-title">
                    {{ teamStats.pts }}
                </h5>
                <h5 class="card-title">
                    {{ teamStats.wins }}
                </h5>
                <h5 class="card-title">
                    {{ teamStats.losses }}
                </h5>
                <h5 class="card-title">
                    {{ teamStats.draws }}
                </h5>
            </div>
        </div>
    </div>
</div>
