<div class="card component card-height-80">
    <div class="card-body">
        <div class="row mb-5">
        <div class="col-lg-3 col-sm-4 col-xs-12">
            <img class="club-logo-lg" src={{logos[rivalStats.name]}} 
            onerror="this.src='./../assets/images/logos/default.png'">
        </div>
        <div class="col-lg-4 col-xs-12">
            <h4 class="card-title logo-sm">
                {{ rivalStats.name }}
            </h4>
        </div>
        <div class="col-lg-5 col-xs-12">
            <h5 class="card-title ">
                Current Rank {{ rivalStats.rank }}
            </h5>
        </div>
        </div>
        <div class="row mb-3 mt-3 ml-3 mr-3">
            <div class="col-lg-3 col-xs-6">
                <h5 class="card-text emphasis">
                    {{ rivalStats.played }} Played
                </h5>
            </div>
            <div class="col-lg-3 col-xs-6">
                <h5 class="card-text">
                    {{ rivalStats.pts }} Pts
                </h5>
            </div>
            <div class="col-lg-3 col-xs-6">
                <h5 class="card-text">
                    {{ rivalStats.wins }} Wins
                </h5>
            </div>
            <div class="col-lg-3 col-xs-6">
                <h5 class="card-text">
                    {{ rivalStats.losses }} Lost
                </h5>
            </div>
        </div>
        <div class="table-responsive" *ngIf="rivalMatches.length>0">
            <div class="table-responsive">
                <table class="table" id='tab'>
                    <thead>
                        <tr>
                            <th scope="col">ATeam</th>
                            <th scope="col">HTeam</th>
                            <th scope="col">AGoals</th>
                            <th scope="col">HGoals</th>
                            <th scope="col">Winner</th>
                            <th scope="col">Venue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let match of rivalMatches">
                            <td>{{ match.ateam }}</td>
                            <td>{{ match.hteam }}</td>
                            <td>{{ match.agoals }}</td>
                            <td>{{ match.hgoals }}</td>
                            <td><p class="table-emphasis-wide ml-1">{{ match.winner }}</p></td>
                            <td>{{ match.venue }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-responsive" *ngIf="rivalMatches.length==0">
            <div class="table-responsive">
                <table class="table" id='tab'>
                    <thead>
                        <tr>
                            <th scope="col">ATeam</th>
                            <th scope="col">HTeam</th>
                            <th scope="col">AGoals</th>
                            <th scope="col">HGoals</th>
                            <th scope="col">Winner</th>
                            <th scope="col">Venue</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <div class="card-body">
                        <h5 class="card-text">Not yet Played</h5>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>