<div class="card component card-height-100">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id='tab'>
                <thead>
                    <tr>
                        <th scope="col">Opponent</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Round</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let match of nextFour">
                        <td class="logo-xsm">{{ match.query_opponent }}</td>
                        <td>{{ match.venue }}</td>
                        <td><p class="table-emphasis-blue ml-4">{{ match.round }}</p></td>
                        <td>{{ match.date.split(" ")[0].split("-")[2] }}-{{ match.date.split(" ")[0].split("-")[1] }}-{{
                            match.date.split(" ")[0].split("-")[0] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>