/* Application-wide Styles */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: 'GilroyBold';
  src: url(src\assets\fonts\Gilroy\ExtraBold.otf);
}

@font-face {
  font-family: 'GilroyLight';
  src: url(src\assets\fonts\Gilroy\Light.otf);
}

@font-face {
  font-family: 'GilroyBold';
  src: url(src\assets\fonts\Gilroy\ExtraBold.otf);
}

:root {

    --primary-colour : var(rgba(255, 255, 255, 1));
    --secondary-colour : var(rgba(33, 33, 33, 1));
    --accent-colour : var(rgb(3, 16, 87));
    --body-font : var(GilroyBold);
    --heading-font : var(GilroyLight);
    --title-font : var(GilroyBold);
    --body-weight : var(400);
    --heading-weight : var(400);
    --body-size : var(16px);
    --heading-size : var()


}

html,
body {
  width: 100%;
  height: 100%;
}

* {
    font-family: var(--body-font);
    font-size: var(--body-size);
    margin: 0;
    padding: 0; 
}