<div class="card component card-height-150">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id='tab'>
                <thead>
                    <tr>
                        <th scope="col">Round</th>
                        <th scope="col">Opponent</th>
                        <th scope="col">H/A</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Winner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let match of matches">
                        <td>{{ match.round }}</td>
                        <td class="logo-xsm">{{ match.query_opponent }}</td>
                        <td><p class="table-emphasis-blue">{{ match.query_ha }}</p></td>
                        <td>{{ match.venue }}</td>
                        <td class="logo-xsm-blue">{{ match.winner }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>